*{
    text-align: center;
    padding: 0px;
    margin: auto;
    -webkit-user-drag: none;

}
body{
    background-color: rgb(54, 54, 54);
}
td,tr,img{
    width: 6vmin;
    height: 6vmin;

}

.whiteSquare{
    background-color: white;
    color: rgb(119, 119, 119);
}
.blackSquare{
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
}
.whiteSquare:hover, .blackSquare:hover {
    background-color: red;
}

.whiteSquare:nth-child(2), .blackSquare:nth-child(2){
    border-left: rgb(0, 0, 0) solid 1em;
}
.whiteSquare:nth-child(9), .blackSquare:nth-child(9){
    border-right: rgb(0, 0, 0) solid 1em;
}
tr:nth-child(1) .whiteSquare, tr:nth-child(1) .blackSquare{
    border-top: rgb(0, 0, 0) solid 1em;
}
tr:nth-child(8) .whiteSquare, tr:nth-child(8) .blackSquare{
    border-bottom: rgb(0, 0, 0) solid 1em;
}
.validMove{
    background-color: red;
}
