*{
    text-align: center;
    padding: 0px;
    -webkit-user-drag: none;
}
body{
    background-color: rgb(54, 54, 54);

}
#gameInformation{
    background-color: rgb(130, 130, 130);
}
td,img{
    width: 4vw;
    height: 4vw;
}
table{
    margin: auto;
}

#gameNotation{
    font-size: large;
    font-weight: bold;
    text-align: left;
    margin: auto;
    background: beige;
    border: solid;
    height: 30vw;
    width: 20vw;
    overflow: auto;
}

.whiteSquare{
    background-color: white;
    color: rgb(119, 119, 119);
}
.blackSquare{
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
}
.whiteSquare:hover, .blackSquare:hover {
    background-color: red;
}

.whiteSquare:nth-child(2), .blackSquare:nth-child(2){
    border-left: rgb(0, 0, 0) solid 0.5em;
}
.whiteSquare:nth-child(9), .blackSquare:nth-child(9){
    border-right: rgb(0, 0, 0) solid 0.5em;
}
tr:nth-child(1) .whiteSquare, tr:nth-child(1) .blackSquare{
    border-top: rgb(0, 0, 0) solid 0.5em;
}
tr:nth-child(8) .whiteSquare, tr:nth-child(8) .blackSquare{
    border-bottom: rgb(0, 0, 0) solid 0.5em;
}
.validMove{
    background-color: red;
}

.BlackPlayerTable,.BlackPlayerTable img,.BlackPlayerTable .mark td , .BlackPlayerTable td.mark{
    rotate: 180deg;
}

@media only screen and (min-width: 750px) {
    .grid{
        display: grid;
        grid-template-columns: 50px 1fr;
        margin: auto;
    }
}
@media only screen and (max-width: 750px) {
    .whiteSquare:nth-child(2), .blackSquare:nth-child(2){
        border-left: rgb(0, 0, 0) solid 0.2em;
    }
    .whiteSquare:nth-child(9), .blackSquare:nth-child(9){
        border-right: rgb(0, 0, 0) solid 0.2em;
    }
    tr:nth-child(1) .whiteSquare, tr:nth-child(1) .blackSquare{
        border-top: rgb(0, 0, 0) solid 0.2em;
    }
    tr:nth-child(8) .whiteSquare, tr:nth-child(8) .blackSquare{
        border-bottom: rgb(0, 0, 0) solid 0.2em;
    }
}
