<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Chess</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="../static/css/chessTable.css" th:href="@{/css/chessTable.css}"/>
    <link rel="stylesheet" href="/css/chat.css" />

  </head>
  <body layout:fragment="content">
  <div th:if="${not getEnabled}" class="alert alert-danger">Not Activated Account</div>

  <main th:if="${getEnabled}">

    <div class="" id="gameInformation">
      <div>
        <label for="gameStatusDiv" style="font-weight:700;">Game Status:</label>
        <span id="gameStatusDiv"></span>
        <br>
        <label for="playingWith" style="font-weight:700;">Playing with:</label>
        <span id="playingWith"></span>
        <br>
        <label for="GameID" style="font-weight:700;">Game ID:</label>
        <span id="GameID"></span>
      </div>
      <button onclick="function hi(){sessionStorage.clear(); window.location.href = 'http://localhost:8081/';};hi()" class="btn btn-lg btn-primary btn-block" >Leave Game</button>
    </div>

    <div class="grid">
      <div>
        <h1 id="TurnsH1"></h1>
        <div id="gameNotation"></div>
      </div>

      <div>

        <div id="takenFiguresBlack"></div>
        <div id="takenFiguresWhite"></div>
        <table id="chessTable">
          <tr>
            <td class="mark">8</td>
            <td id="A8" class="whiteSquare"></td>
            <td id="B8" class="blackSquare"></td>
            <td id="C8" class="whiteSquare"></td>
            <td id="D8" class="blackSquare"></td>
            <td id="E8" class="whiteSquare"></td>
            <td id="F8" class="blackSquare"></td>
            <td id="G8" class="whiteSquare"></td>
            <td id="H8" class="blackSquare"></td>
          </tr>
          <tr>
            <td class="mark">7</td>
            <td id="A7" class="blackSquare"></td>
            <td id="B7" class="whiteSquare"></td>
            <td id="C7" class="blackSquare"></td>
            <td id="D7" class="whiteSquare"></td>
            <td id="E7" class="blackSquare"></td>
            <td id="F7" class="whiteSquare"></td>
            <td id="G7" class="blackSquare"></td>
            <td id="H7" class="whiteSquare"></td>
          </tr>
          <tr>
            <td class="mark">6</td>
            <td id="A6" class="whiteSquare"></td>
            <td id="B6" class="blackSquare"></td>
            <td id="C6" class="whiteSquare"></td>
            <td id="D6" class="blackSquare"></td>
            <td id="E6" class="whiteSquare"></td>
            <td id="F6" class="blackSquare"></td>
            <td id="G6" class="whiteSquare"></td>
            <td id="H6" class="blackSquare"></td>
          </tr>
          <tr>
            <td class="mark">5</td>
            <td id="A5" class="blackSquare"></td>
            <td id="B5" class="whiteSquare"></td>
            <td id="C5" class="blackSquare"></td>
            <td id="D5" class="whiteSquare"></td>
            <td id="E5" class="blackSquare"></td>
            <td id="F5" class="whiteSquare"></td>
            <td id="G5" class="blackSquare"></td>
            <td id="H5" class="whiteSquare"></td>
          </tr>
          <tr>
            <td class="mark">4</td>
            <td id="A4" class="whiteSquare"></td>
            <td id="B4" class="blackSquare"></td>
            <td id="C4" class="whiteSquare"></td>
            <td id="D4" class="blackSquare"></td>
            <td id="E4" class="whiteSquare"></td>
            <td id="F4" class="blackSquare"></td>
            <td id="G4" class="whiteSquare"></td>
            <td id="H4" class="blackSquare"></td>
          </tr>
          <tr>
            <td class="mark">3</td>
            <td id="A3" class="blackSquare"></td>
            <td id="B3" class="whiteSquare"></td>
            <td id="C3" class="blackSquare"></td>
            <td id="D3" class="whiteSquare"></td>
            <td id="E3" class="blackSquare"></td>
            <td id="F3" class="whiteSquare"></td>
            <td id="G3" class="blackSquare"></td>
            <td id="H3" class="whiteSquare"></td>
          </tr>
          <tr>
            <td class="mark">2</td>
            <td id="A2" class="whiteSquare"></td>
            <td id="B2" class="blackSquare"></td>
            <td id="C2" class="whiteSquare"></td>
            <td id="D2" class="blackSquare"></td>
            <td id="E2" class="whiteSquare"></td>
            <td id="F2" class="blackSquare"></td>
            <td id="G2" class="whiteSquare"></td>
            <td id="H2" class="blackSquare"></td>
          </tr>
          <tr>
            <td class="mark">1</td>
            <td id="A1" class="blackSquare"></td>
            <td id="B1" class="whiteSquare"></td>
            <td id="C1" class="blackSquare"></td>
            <td id="D1" class="whiteSquare"></td>
            <td id="E1" class="blackSquare"></td>
            <td id="F1" class="whiteSquare"></td>
            <td id="G1" class="blackSquare"></td>
            <td id="H1" class="whiteSquare"></td>
          </tr>
          <tr class="mark">
            <td></td>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
            <td>F</td>
            <td>G</td>
            <td>H</td>
          </tr>
        </table>
        </div>

          <div id="chat-page" class="" >
            <div class="chat-container" >
              <div class="chat-header">
                <h2>Chat</h2>
              </div>
              <div class="connecting">
                Connecting...
              </div>
              <ul id="messageArea">
      
              </ul>
              <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group">
                  <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
    </div>
  </div>


  </main>
  </body>
</html>
<script src="/chat.js"></script>
<script src="/socket.js"></script>
<script src="/chessGame.js"></script>
<script>Start()</script>
<script>//document.getElementById("gameNav").classList.add("activeNav");</script>



