<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Chess</title>
    <style>
*{
    text-align: center;
    padding: 0px;
    margin: auto;
    -webkit-user-drag: none;

}
body{
    background-color: rgb(54, 54, 54);
}
td,tr,img{
    width: 10vmin;
    height: 10vmin;

}

.whiteSquare{
    background-color: white;
    color: rgb(119, 119, 119);
}
.blackSquare{
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
}
.whiteSquare:hover, .blackSquare:hover {
    background-color: red;
}

.whiteSquare:nth-child(2), .blackSquare:nth-child(2){
    border-left: rgb(0, 0, 0) solid 1em;
}
.whiteSquare:nth-child(9), .blackSquare:nth-child(9){
    border-right: rgb(0, 0, 0) solid 1em;
}
tr:nth-child(1) .whiteSquare, tr:nth-child(1) .blackSquare{
    border-top: rgb(0, 0, 0) solid 1em;
}
tr:nth-child(8) .whiteSquare, tr:nth-child(8) .blackSquare{
    border-bottom: rgb(0, 0, 0) solid 1em;
}
.validMove{
    background-color: red;
}


</style>
</head>
<body>
<h1 id="TurnsH1"></h1>
<table class="chessTable">
    <tr>
        <td class="mark">8</td>
        <td id="A8" class="blackSquare" ></td>
        <td id="B8" class="whiteSquare" ></td>
        <td id="C8" class="blackSquare" ></td>
        <td id="D8" class="whiteSquare" ></td>
        <td id="E8" class="blackSquare" ></td>
        <td id="F8" class="whiteSquare" ></td>
        <td id="G8" class="blackSquare" ></td>
        <td id="H8" class="whiteSquare" ></td>

    </tr>
    <tr>
        <td class="mark">7</td>
        <td id="A7" class="whiteSquare" ></td>
        <td id="B7" class="blackSquare" ></td>
        <td id="C7" class="whiteSquare" ></td>
        <td id="D7" class="blackSquare" ></td>
        <td id="E7" class="whiteSquare" ></td>
        <td id="F7" class="blackSquare" ></td>
        <td id="G7" class="whiteSquare" ></td>
        <td id="H7" class="blackSquare" ></td>
    </tr>
    <tr>
        <td class="mark" >6</td>
        <td id="A6" class="blackSquare" ></td>
        <td id="B6" class="whiteSquare" ></td>
        <td id="C6" class="blackSquare" ></td>
        <td id="D6" class="whiteSquare" ></td>
        <td id="E6" class="blackSquare" ></td>
        <td id="F6" class="whiteSquare" ></td>
        <td id="G6" class="blackSquare" ></td>
        <td id="H6" class="whiteSquare" ></td>
    </tr> 
    <tr>
        <td class="mark" >5</td>
        <td id="A5" class="whiteSquare" ></td>
        <td id="B5" class="blackSquare" ></td>
        <td id="C5" class="whiteSquare" ></td>
        <td id="D5" class="blackSquare" ></td>
        <td id="E5" class="whiteSquare" ></td>
        <td id="F5" class="blackSquare" ></td>
        <td id="G5" class="whiteSquare" ></td>
        <td id="H5" class="blackSquare" ></td>
    </tr>
    <tr>
        <td class="mark">4</td>
        <td id="A4" class="blackSquare" ></td>
        <td id="B4" class="whiteSquare" ></td>
        <td id="C4" class="blackSquare" ></td>
        <td id="D4" class="whiteSquare" ></td>
        <td id="E4" class="blackSquare" ></td>
        <td id="F4" class="whiteSquare" ></td>
        <td id="G4" class="blackSquare" ></td>
        <td id="H4" class="whiteSquare" ></td>
    </tr>
    <tr>
        <td class="mark">3</td>
        <td id="A3" class="whiteSquare" ></td>
        <td id="B3" class="blackSquare" ></td>
        <td id="C3" class="whiteSquare" ></td>
        <td id="D3" class="blackSquare" ></td>
        <td id="E3" class="whiteSquare" ></td>
        <td id="F3" class="blackSquare" ></td>
        <td id="G3" class="whiteSquare" ></td>
        <td id="H3" class="blackSquare" ></td>
    </tr>
    <tr>
        <td class="mark">2</td>
        <td id="A2" class="blackSquare" ></td>
        <td id="B2" class="whiteSquare" ></td>
        <td id="C2" class="blackSquare" ></td>
        <td id="D2" class="whiteSquare" ></td>
        <td id="E2" class="blackSquare" ></td>
        <td id="F2" class="whiteSquare" ></td>
        <td id="G2" class="blackSquare" ></td>
        <td id="H2" class="whiteSquare" ></td>
    </tr>
    <tr>
        <td class="mark">1</td>
        <td id="A1" class="whiteSquare" ></td>
        <td id="B1" class="blackSquare" ></td>
        <td id="C1" class="whiteSquare" ></td>
        <td id="D1" class="blackSquare" ></td>
        <td id="E1" class="whiteSquare" ></td>
        <td id="F1" class="blackSquare" ></td>
        <td id="G1" class="whiteSquare" ></td>
        <td id="H1" class="blackSquare" ></td>
    </tr>
    <tr class="mark">
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
    </tr>
</table>
<button onclick=getFullTableJson() >getFullTableJson</button>
<button onclick=validMoves() >validMoves</button>
<form action="/update" method="get">
    <label for="inputField">Input Field:</label>
    <input type="text" id="inputField" name="inputField">
    <button type="submit">Submit</button>
</form>
<p>Input Value: <span th:text="${inputValue}"></span></p>
</body>
<script>

    const allSquare = Array.from(document.getElementsByClassName('whiteSquare')).concat(Array.from(document.getElementsByClassName('blackSquare')));
    let clickedFigure = null;
    let validMoves = null;
    let activePlayerColor = null;
    let EmptyOrEnemySquares = []
    let Whitefigures = []
    let Blackfigures = []
    let isGameOver = false
    getTableUpdate()
   
  
    
    function makeMove(from,to){
            if(isGameOver){ return;}
           let xhr = new XMLHttpRequest()
           xhr.open('GET','http://localhost:8081/updateTable/'+from+'/'+to,true)
           xhr.onload = function(){
                if(xhr.status == 200){
                    console.log("NEWPAGE success")

                    clickedFigure = null;
                    allSquare.forEach(square => {
                        document.getElementById(square.id).replaceChildren();
                        square.classList.remove("validMove")
                    })

                    getTableUpdate()

                }
            }
            xhr.send()
        }
        


         function getTableUpdate(){
            let xhr = new XMLHttpRequest()
            xhr.open('GET','http://localhost:8081/api/fullTable',true)
           xhr.onload = function(){
            if(xhr.status == 200){
                console.log("api/fullTable success")

                const table = JSON.parse(this.response)

                isGameOver = table["isGameOver"]
                activePlayerColor = table["activePlayerColor"]
                
                if(isGameOver){
                    document.getElementById("TurnsH1").innerText = "CheckMate "+activePlayerColor+" Win"
                }
                else{
                    document.getElementById("TurnsH1").innerText = activePlayerColor
                }
            
                for (let figure in table["figures"]) {

                    const img = document.createElement("img");
                    
                    const posX = table["figures"][figure]["position"]["posX"]
                    const posY = table["figures"][figure]["position"]["posY"]
                    const notation = PositionToNotation(posX,posY)
                
                    img.src = table["figures"][figure]["imageSource"]
                    document.getElementById(notation).appendChild(img)
                    //img.classList.add(table["figures"][figure]["color"])
                    document.getElementById(notation).classList.remove("BLACK")
                    document.getElementById(notation).classList.remove("WHITE")
                    document.getElementById(notation).classList.add(table["figures"][figure]["color"])

                }
                Whitefigures = Array.from(document.getElementsByClassName("WHITE"));
                Blackfigures = Array.from(document.getElementsByClassName("BLACK"));
                console.log("Whitefigures",Whitefigures)
                console.log("Blackfigures",Blackfigures)
                console.log("activePlayerColor",activePlayerColor)

                allSquare.forEach(square => {
                    square.removeEventListener("click",ClickFigure)
                })
                if(activePlayerColor == 'WHITE'){
                    Whitefigures.forEach(figure => figure.addEventListener("click",ClickFigure))
                }
                else{
                    Blackfigures.forEach(figure => figure.addEventListener("click",ClickFigure))
                }
            }
           }
           xhr.send()
        }


        function PositionToNotation(posX,posY){
            let notation = ''
            switch(posX){
                case 0: notation+='A'; break;
                case 1: notation+='B'; break;
                case 2: notation+='C'; break;
                case 3: notation+='D'; break;
                case 4: notation+='E'; break;
                case 5: notation+='F'; break;
                case 6: notation+='G'; break;
                case 7: notation+='H'; break;
            }
            switch(posY){
                case 0: notation+='8'; break;
                case 1: notation+='7'; break;
                case 2: notation+='6'; break;
                case 3: notation+='5'; break;
                case 4: notation+='4'; break;
                case 5: notation+='3'; break;
                case 6: notation+='2'; break;
                case 7: notation+='1'; break;
            }
            return notation;
        }


        function getValidMoves(pos){
           let xhr = new XMLHttpRequest()
           xhr.open('GET','http://localhost:8081/api/validMoves/'+pos ,true)
           xhr.onload = function(){

            if(xhr.status == 200){
                console.log("validMoves success")

                const validMovesResponse = Array.from(JSON.parse(this.response))

                allSquare.forEach(square => {
                    Array.from(document.getElementsByClassName("validMove")).forEach(square => {
                        square.classList.remove("validMove")
                    })
                })

                validMovesResponse.forEach(validMove => {
                    document.getElementById(validMove).classList.add("validMove")
                    document.getElementById(validMove).addEventListener("click",ClickSquare,true)

                })
            }
           }
           xhr.send()
        }


        function ClickFigure(){
            const index = event.target.parentNode.getAttribute('id')
            console.log("index ",index)
            clickedFigure = index;
            getValidMoves(clickedFigure)
        }
                
       
        function ClickSquare(){
            if (clickedFigure) {
                    
                    let index = undefined
                    if (event.target.tagName === 'IMG') {
                         index = event.target.parentNode.getAttribute('id')
                    }
                    else{
                         index = event.target.getAttribute('id')
                    }
                    
					console.log('Selected square:', index);
					// Move the selected figure to the clicked square
					
                    makeMove(clickedFigure,index)
                    clickedFigure = undefined;

					selectedFigure = null;
                    validMoves = null;
            }

        }
  
    </script>
</html>