<!DOCTYPE html>
<html lang="hu"	xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
  <title>Online Chess</title>
</head>
<body>

<div layout:fragment="content">

  <h2>User Page</h2>
  <div th:text="${getName}"></div>
  <div th:text="${getEmail}"></div>
  <div th:text="${getEnabled}"></div>
  <div th:text="${getActivation}"></div>

  <div th:if="${activationSuccess}" class="alert alert-success">Activation success</div>
  <div th:if="${not getEnabled} ?: true">

    <form name="activation" th:action="@{/activation}" method="post" class="form-signin">
      <h2 class="form-signin-heading">Please Activate your Account</h2>
      <div th:if="${activationError}" class="alert alert-danger">Activation Failed</div>
      <input type="text" id="activationCode" name="activationCode" class="form-control" placeholder="activation Code"  />
      <button class="btn btn-lg btn-primary btn-block" type="submit">Activate</button>
    </form>

    <form  name="resendEmail" th:action="@{/resendEmail/}+${getName}" method="post" class="form-signin">

      <div th:if="${sendEmailError}" class="alert alert-danger">resend Failed</div>
      <div th:if="${sendEmailSuccess}" class="alert alert-success">Email send success</div>
      <button class="btn btn-lg btn-block" type="submit">Resend Activation Code</Button>
    </form>
    

  </div>
</div>

</body>
</html>
<script>
	document.getElementById("userPageNav").classList.add("active");
</script>