<!DOCTYPE html>
<html lang="hu"	xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/main">
<head>
  <title>Online Chess</title>

</head>

<style>
  .table{
    overflow: auto;
    height: 50vh;
  } 
  .card{
    background-color: #99ff95;
  }

</style>
<body>

<div layout:fragment="content">


	<div class="container">
    <br>
	  <div class="card" style="width:300px; margin: auto;">
		<img src="/img/defaultUser.jpg" alt="defaultUserPic">
		<div class="card-body" style="font-weight: bold;">
			<div>
				<label for="Name"><h5>Username:</h5></label>
				<span name="Name" th:text="${getName}"></span>
			</div>
			<div>
				<label for="Email"><h5>Email:</h5></label>
				<span name="Email" th:text="${getEmail}"></span>
			</div>
			<div>
				<label for="Enabled"><h5>Active account:</h5></label>
				<span name="Enabled" th:text="${getEnabled}"></span>
			</div>
            <!--   <span name="Enabled" th:text="${getActivation}"></span>  -->
		</div>
	  </div>

	<div class="card"  style="width:fit-content;">
		
		
	</div>
  
  <div th:if="${activationSuccess}" class="alert alert-success">Activation success</div>
    <div th:if="${not getEnabled} ?: true">
      <form name="activation" th:action="@{/activation}" method="post" class="form-signin">
        <h2 class="form-signin-heading">Please Activate your Account</h2>
        <div th:if="${activationError}" class="alert alert-danger">Activation Failed</div>
        <input type="text" id="activationCode" name="activationCode" class="form-control" placeholder="activation Code"  />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Activate</button>
      </form>
      <br>
      <form  name="resendEmail" th:action="@{/resendEmail}" method="post" class="form-signin">
        <div th:if="${sendEmailError}" class="alert alert-danger">resend Failed</div>
        <div th:if="${sendEmailSuccess}" class="alert alert-success">Email send success</div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Resend Activation Code</Button>
      </form>
    </div>
</div>

    <table class="table table-striped" style="width: initial; margin: auto;">
      <thead style="background-color: rgb(33 122 59);color: white; ">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody id="tableBody" style="background-color: rgb(245 255 246);" >
      </tbody>
  
    </table>
    <br><br><br>
  </div>



</body>
</html>
<script>
	document.getElementById("userPageNav").classList.add("activeNav");
</script>
<script src="/userPage.js"></script>