<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Chess</title>
    <style>
*{
    text-align: center;
    padding: 0px;
    margin: auto;
    -webkit-user-drag: none;

}
body{
    background-color: rgb(54, 54, 54);
}
td,tr,img{
    width: 10vmin;
    height: 10vmin;

}

.whiteSquare{
    background-color: white;
    color: rgb(119, 119, 119);
}
.blackSquare{
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
}
.whiteSquare:hover, .blackSquare:hover {
    background-color: red;
}

.whiteSquare:nth-child(2), .blackSquare:nth-child(2){
    border-left: rgb(0, 0, 0) solid 1em;
}
.whiteSquare:nth-child(9), .blackSquare:nth-child(9){
    border-right: rgb(0, 0, 0) solid 1em;
}
tr:nth-child(1) .whiteSquare, tr:nth-child(1) .blackSquare{
    border-top: rgb(0, 0, 0) solid 1em;
}
tr:nth-child(8) .whiteSquare, tr:nth-child(8) .blackSquare{
    border-bottom: rgb(0, 0, 0) solid 1em;
}
.validMove{
    background-color: red;
}


</style>
</head>
<body>

<table class="chessTable">
    <tr>
        <td class="mark">8</td>
        <td id="A8" class="blackSquare" th:utext="${A8}" ></td>
        <td id="B8" class="whiteSquare" th:utext="${B8}" ></td>
        <td id="C8" class="blackSquare" th:utext="${C8}" ></td>
        <td id="D8" class="whiteSquare" th:utext="${D8}" ></td>
        <td id="E8" class="blackSquare" th:utext="${E8}" ></td>
        <td id="F8" class="whiteSquare" th:utext="${F8}" ></td>
        <td id="G8" class="blackSquare" th:utext="${G8}" ></td>
        <td id="H8" class="whiteSquare" th:utext="${H8}" ></td>

    </tr>
    <tr>
        <td class="mark">7</td>
        <td id="A7" class="whiteSquare" th:utext="${A7}" ></td>
        <td id="B7" class="blackSquare" th:utext="${B7}" ></td>
        <td id="C7" class="whiteSquare" th:utext="${C7}" ></td>
        <td id="D7" class="blackSquare" th:utext="${D7}" ></td>
        <td id="E7" class="whiteSquare" th:utext="${E7}" ></td>
        <td id="F7" class="blackSquare" th:utext="${F7}" ></td>
        <td id="G7" class="whiteSquare" th:utext="${G7}" ></td>
        <td id="H7" class="blackSquare" th:utext="${H7}" ></td>
    </tr>
    <tr>
        <td class="mark" >6</td>
        <td id="A6" class="blackSquare" th:utext="${A6}" ></td>
        <td id="B6" class="whiteSquare" th:utext="${B6}" ></td>
        <td id="C6" class="blackSquare" th:utext="${C6}" ></td>
        <td id="D6" class="whiteSquare" th:utext="${D6}" ></td>
        <td id="E6" class="blackSquare" th:utext="${E6}" ></td>
        <td id="F6" class="whiteSquare" th:utext="${F6}" ></td>
        <td id="G6" class="blackSquare" th:utext="${G6}" ></td>
        <td id="H6" class="whiteSquare" th:utext="${H6}" ></td>
    </tr> 
    <tr>
        <td class="mark" >5</td>
        <td id="A5" class="whiteSquare" th:utext="${A5}" ></td>
        <td id="B5" class="blackSquare" th:utext="${B5}" ></td>
        <td id="C5" class="whiteSquare" th:utext="${C5}" ></td>
        <td id="D5" class="blackSquare" th:utext="${D5}" ></td>
        <td id="E5" class="whiteSquare" th:utext="${E5}" ></td>
        <td id="F5" class="blackSquare" th:utext="${F5}" ></td>
        <td id="G5" class="whiteSquare" th:utext="${G5}" ></td>
        <td id="H5" class="blackSquare" th:utext="${H5}" ></td>
    </tr>
    <tr>
        <td class="mark">4</td>
        <td id="A4" class="blackSquare" th:utext="${A4}" ></td>
        <td id="B4" class="whiteSquare" th:utext="${B4}" ></td>
        <td id="C4" class="blackSquare" th:utext="${C4}" ></td>
        <td id="D4" class="whiteSquare" th:utext="${D4}" ></td>
        <td id="E4" class="blackSquare" th:utext="${E4}" ></td>
        <td id="F4" class="whiteSquare" th:utext="${F4}" ></td>
        <td id="G4" class="blackSquare" th:utext="${G4}" ></td>
        <td id="H4" class="whiteSquare" th:utext="${H4}" ></td>
    </tr>
    <tr>
        <td class="mark">3</td>
        <td id="A3" class="whiteSquare" th:utext="${A3}" ></td>
        <td id="B3" class="blackSquare" th:utext="${B3}" ></td>
        <td id="C3" class="whiteSquare" th:utext="${C3}" ></td>
        <td id="D3" class="blackSquare" th:utext="${D3}" ></td>
        <td id="E3" class="whiteSquare" th:utext="${E3}" ></td>
        <td id="F3" class="blackSquare" th:utext="${F3}" ></td>
        <td id="G3" class="whiteSquare" th:utext="${G3}" ></td>
        <td id="H3" class="blackSquare" th:utext="${H3}" ></td>
    </tr>
    <tr>
        <td class="mark">2</td>
        <td id="A2" class="blackSquare" th:utext="${A2}" ></td>
        <td id="B2" class="whiteSquare" th:utext="${B2}" ></td>
        <td id="C2" class="blackSquare" th:utext="${C2}" ></td>
        <td id="D2" class="whiteSquare" th:utext="${D2}" ></td>
        <td id="E2" class="blackSquare" th:utext="${E2}" ></td>
        <td id="F2" class="whiteSquare" th:utext="${F2}" ></td>
        <td id="G2" class="blackSquare" th:utext="${G2}" ></td>
        <td id="H2" class="whiteSquare" th:utext="${H2}" ></td>
    </tr>
    <tr>
        <td class="mark">1</td>
        <td id="A1" class="whiteSquare" th:utext="${A1}"></td>
        <td id="B1" class="blackSquare" th:utext="${B1}" ></td>
        <td id="C1" class="whiteSquare" th:utext="${C1}" ></td>
        <td id="D1" class="blackSquare" th:utext="${D1}" ></td>
        <td id="E1" class="whiteSquare" th:utext="${E1}" ></td>
        <td id="F1" class="blackSquare" th:utext="${F1}" ></td>
        <td id="G1" class="whiteSquare" th:utext="${G1}" ></td>
        <td id="H1" class="blackSquare" th:utext="${H1}" ></td>
    </tr>
    <tr class="mark">
        <td></td>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
    </tr>
</table>
<button onclick=NEWPAGE() >NEWPAGE</button>
<button onclick=validMoves() >validMoves</button>
<form action="/update" method="get">
    <label for="inputField">Input Field:</label>
    <input type="text" id="inputField" name="inputField">
    <button type="submit">Submit</button>
</form>
<p>Input Value: <span th:text="${inputValue}"></span></p>
</body>
<script>

    let clickedFigure = null;
    let validMoves = null;
    const squares = Array.from(document.getElementsByClassName('whiteSquare')).concat(Array.from(document.getElementsByClassName('blackSquare')));
    const figures = Array.from(document.getElementsByClassName('Figure'));

    function NEWPAGE(from,to){
           let xhr = new XMLHttpRequest()
           xhr.open('GET','http://localhost:8081/update/'+from+'/'+to,true)
           xhr.onload = function(){

            if(xhr.status == 200){
                console.log("NEWPAGE success")

                const Figure = document.getElementById(from).firstChild

                document.getElementById(from).removeChild(Figure)
                document.getElementById(to).innerHTML='';
                document.getElementById(to).appendChild(Figure)


                clickedFigure = null;
                squares.forEach(square => {
                    document.getElementById(square.id).classList.remove("validMove")
                })

            }
           }
           xhr.send()
        }

        function getValidMoves(pos){
           let xhr = new XMLHttpRequest()
           xhr.open('GET','http://localhost:8081/api/validMoves/'+pos ,true)
           xhr.onload = function(){

            if(xhr.status == 200){
                console.log("validMoves success")

                const validMovesResponse = Array.from(JSON.parse(this.response))
                console.log(validMovesResponse)

                squares.forEach(square => {
                    document.getElementById(square.id).classList.remove("validMove")
                })

                validMovesResponse.forEach(validMove => {
                    document.getElementById(validMove).classList.add("validMove")
                })
                validMoves = validMovesResponse
            }
           }
           xhr.send()
        }

        
        figures.forEach(figure => {
            figure.addEventListener("click", () => {
                const index = event.target.parentNode.getAttribute('id')

                console.log("index ",index)
                if(clickedFigure === null){
                    let xhr = new XMLHttpRequest()
                    xhr.open('GET','http://localhost:8081/update/validMoves/'+index,true)
                    xhr.onload = function(){
                        if(xhr.status == 200){
                            console.log("figure success")
                            clickedFigure = index;
                            getValidMoves(clickedFigure)
                        }
                    }
                    xhr.send()
                }
            })
        });

        squares.forEach(square => {
            square.addEventListener("click", () => {
                if (clickedFigure) {
                    const index = event.target.getAttribute('id')
					console.log('Selected square:', index);
					// Move the selected figure to the clicked square
					
                    NEWPAGE(clickedFigure,index)
                    clickedFigure = undefined;

					selectedFigure = null;
                    validMoves = null;
                }
            })
        })

      
    </script>
</html>