<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Online Chess</title>

	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />
	
</head>
	<body>
		<div class="container">
			<nav th:if="${isAuthenticated}" class="navbar navbar-default">
				<div class="container-fluid">
				   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="active"><a href="/">Main Page</a></li>
							<li class=""><a href="/stories">Story</a></li>
							<li class=""><a href="/puzzle">Puzzles</a></li>
							<li class=""><a href="/game">Chess Game</a></li>
						</ul>
						<div class="navbar-text navbar-right">
							<p>Welcome, <span th:text="${getName}">Anonymous</span>!</p>
						   <form id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
								| <a href="javascript:{}" onclick="logout()" >Logout</a>
						  </form>
						</div>
					</div>
				</div>
			</nav>

			<div layout:fragment="content"> </div>


			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
			<footer>
				<p>Footer</p>
			</footer>

		</div>

		<script src="/chessGame.js"></script>
  		<script src="/socket.js"></script>

	</body>
</html>