<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Online Chess</title>


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />
	<script src="https://kit.fontawesome.com/1616414061.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
	<body>
		<div class="container">
			<nav th:if="${isAuthenticated}" class="navbar navbar-expand-lg ">
				<div class="container-fluid">
					<a class="navbar-brand" href="#"><i class="fa-solid fa-chess fa-2xl"></i>Navbar</a>
				  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>


				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">


					<li id="indexNav" class="nav-item">
						<a href="/" aria-current="page"><i class="navbarIcon fa-solid fa-house fa-lg"></i> Main Page</a>
					</li>
					<li id="userPageNav" class="nav-item">
						<a href="/userPage"> <i class="navbarIcon fa-solid fa-house-user fa-lg"></i> user Page</a>
					</li>
					<li id="newsNav" class="nav-item">
						<a href="/news"><i class="navbarIcon fa-solid fa-newspaper fa-lg"></i> News</a>
					</li>
					<li id="puzzleNav" class="nav-item">
						<a href="/puzzle"><i class="navbarIcon fa-solid fa-puzzle-piece fa-lg"></i> Puzzles</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<i class="navbarIcon fa-solid fa-chess-board fa-lg"></i>
						  Game
						</a>
						<ul class="dropdown-menu">
							<li id="gameNav" class="dropdown-item">
								<a href="/onlineGame"> Chess Game</a>
							</li>
							<li id="gameNav" class="dropdown-item">
								<a href="/localGame"> Local Game</a>
							</li>
						</ul>
					  </li>

					</ul>
				  </div>
				</div>
				<div class="navbar-text navbar-right">
					<p>
						<i class="fa-solid fa-user "></i>
						Welcome, <span th:text="${getName}">Anonymous</span>!
					</p>
					<form id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
						| <a href="javascript:{}" onclick="logout()" > <i class="fa-solid fa-right-from-bracket"></i> Logout</a>
					</form>

				</div>
			  </nav>
			  
			<div id="content" layout:fragment="content"> </div>

		
			<footer style="display:flex; justify-content: space-around;">
                <a href="#"><i class="fa-brands fa-github fa-2xl"></i>Github</a>
				<a href="#"><i class="fa-brands fa-youtube fa-2xl"></i>Youtube</a>
			</footer>

		</div>

		

	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</html>
<script>
	const fonts = document.getElementsByClassName("beatEffect");

	console.log(fonts.length)
	
	Array.from(fonts).forEach((element) => {
		element.parentNode.addEventListener('mouseover', () => {
			//element.classList.add('fa-beat');
		});

		element.parentNode.addEventListener('mouseout', () => {
			//element.classList.remove('fa-beat');
		});
	});

	
</script>
